/* style navbar  */
.nav-logo{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.nav-logo img{
    width: 50px;
    margin-left: -140px;

}
.nav-logo p{
    font-size: 25px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-content a{
    text-decoration: none;
    margin-left: 20px;
}
.nav-content{
    display: flex;
   
}
/* style banner part */
.goat h2{
font-size:50PX;
margin-top: 15px;
background-image: linear-gradient(to bottom, #F948B2,rebeccapurple);
color: transparent;
-webkit-background-clip: text;
}
goat p{
    color:#534C64 ;
}
.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section{
    background-image: url(..//images/Group\ 14.png);
    

}

.sss{
    background-color: rgba(11, 2, 35, 0.10);
    border: 0px solid gray;
    gap: 10px;
    display: flex;
    margin-left: 15px;
    list-style: none;
    

}
/* style main section */
.mistake{
    text-align: center;
}
.mistake h1{
    font-size: 50px;
}
.mistake2{
    background-image: linear-gradient(to bottom, #F948B2,rebeccapurple);
color: transparent;
-webkit-background-clip: text;
}
.four-pic{
    display: flex;
    justify-content:center;
    
    gap: 10px;
    margin: 50px;

}


/* style couple pic */
.couple-pic{
    display: flex;
    justify-content: space-around;
    
    
    margin-top: 40px;
}
.couple-pic h1{
    font-size: 49px;
}
    .ctn{
        text-align: center;
        margin-top: 150px;
    }

.play{
    color: #FF42A5;
}
.pera{
    color: #534C64;
    font-family: work sans;
    font-size: 19px;
}
   
.putul img{
    position: relative;
    bottom: 250px;
    margin-left: -150px;
}
    .controller{
        width:100%;
        border: 0px solid gray;
        background-color: beige;
        margin-bottom: 250px;
    }
    .headmaster{
        
        display: flex;
    justify-content: space-around;
        
    }   
    .part1{
        border: 1px solid gray;
        border-radius: 20px;
        background-color: white;
        border: 0px;
        display: flex;
        align-items: center;
    }
    .part2{
        border: 1px solid gray;
        border-radius: 20px;
        background-color: white;
        border: 0px;
        display: flex;
        align-items: center;
    }
    .part3{
        border: 1px solid gray;
        border-radius: 20px;
        background-color: white;
        border: 0px;
        display: flex;
        align-items: center;
    }
    .part4{
        border: 1px solid gray;
        border-radius: 20px;
        background-color: white;
        border: 0px;
        display: flex;
        align-items: center;
    }
    .part5{
        border: 1px solid gray;
        border-radius: 20px;
        background-color: white;
        border: 0px;
        display: flex;
        align-items: center;
    }
    .principal{
        display: flex;
        justify-content: space-around;
    }
    .part6{
        border: 1px solid gray;
        border-radius: 20px;
        background-color: white;
        border: 0px;
        display: flex;
        align-items: center;
    }
    .part7{
        border: 1px solid gray;
        border-radius: 20px;
        background-color: white;
        border: 0px;
        display: flex;
        align-items: center;
    }
    .part8{
        border: 1px solid gray;
        border-radius: 20px;
        background-color: white;
        border: 0px;
        display: flex;
        align-items: center;
    }
    .part9{
        border: 1px solid gray;
        border-radius: 20px;
        background-color: white;
        border: 0px;
        display: flex;
        align-items: center;
    }
/* styles of footer */
.footer-boss{
    background-color: #0b0223;
    padding: 30px;
}
.footer-one{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-one p{
    font-size: 25px;
    
    
}
.footer-one img{
    width: 70px;
}
    .mistake4{
        align-items: center;
    }
    .list{
        display: flex;
        gap: 70px;   
        align-items: center;    
        list-style: none;
        color: white;
        margin-left: 380px;
        margin-right: 300px;
        font-size: 10px;
    }
        .icon{
            display: flex;
            justify-content:center;
            list-style: none;
            gap: 30px;
            margin-top: 20px;
            

        }
    .facebook{
        color: blue;
        background-color: white;
    
    }
    .pakhi{
        color:white;
    }
    .youtube{
        color: red;
        background-color: white;
    }
    .coppy{
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 30px;
        
        margin-top: 30px;
        color: gainsboro;
        font-size: 10px;
    }
    .last p{
        text-align: center;
        color: gainsboro;
        font-size: 10px;
    }
/* responsive for mobile device */
@media screen and (max-width: 576px) {

    .nav,  .nav-content, .section, .four-pic, .couple-pic, .controller, .headmaster, .principal, .footer-boss{
        padding: 20px;
    }

    .nav, .nav-content, .section, .four-pic, .couple-pic, .controller, .headmaster, .principal, .footer-boss {
        flex-direction: column                                                                                                       ;
    }
}
/* responsive of medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    
    
    .nav, .nav-content, .section, .four-pic, .couple-pic, .controller, .headmaster, .principal, .footer-boss {
        flex-direction: column
}
}